body {
    display: flex;
    justify-content: center;
}
.container {
    width: 800px;
    border: 3px solid rgba(0,0,0,0.5);
    margin-top: 80px;
}
.aqua {
    background-color: rgb(0, 134, 237);
    height: 150px;
}
.card {
    margin-top: -170px;
    padding: 80px;
}
.userCircle {
    margin: 0;
    transform: scale(0.7);
}
.mapMarker, .gear {
    transform: scale(.5)
}
h1 {
    font-size: 3em;
    margin-top: -15px;
}
.location {
    display: flex;
    align-items: center;
}
p {
    margin: -10px 0 0 50px;
}
.edit {
    margin-right: -20px;
}
a {
    text-emphasis: none;
    display: flex;
    align-items: center;
}